# Variables pour Postgres (docker-compose)
POSTGRES_DB=auth
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_password

# Variables pour PHP (Settings.php)
AUTH_DB_HOST=auth.db
AUTH_DB_PORT=5432

#JWT
JWT_SECRET=ceci_est_une_cle_secrete_ultra_longue_qui_fait_au_moins_soixante_quatre_caracteres_pour_hs512