POSTGRES_DB=galerie
POSTGRES_USER=galerie_user
POSTGRES_PASSWORD=galerie_password

DB_HOST=galerie.db

JWT_SECRET_KEY=ceci_est_une_cle_secrete_ultra_longue_qui_fait_au_moins_soixante_quatre_caracteres_pour_hs512