
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=photo
RABBITMQ_PASS=photo

MAILER_HOST=mailcatcher
MAILER_PORT=1025

JWT_SECRET_KEY=ceci_est_une_cle_secrete_ultra_longue_qui_fait_au_moins_soixante_quatre_caracteres_pour_hs512